<nav>
  <menu class="grid">
    <li class="col-1-5"><%= link_to 'Data Entry', new_price_datum_url %></li>
    <li class="col-1-5"><%= link_to 'Breweries', breweries_url %></li>
    <li class="col-1-5"><%= link_to 'Brands', brands_url %></li>
    <li class="col-1-5"><%= link_to 'Routes', routes_url %></li>
    <li class="col-1-5"><%= link_to 'Retailers', retailers_url %></li>
  </menu>
</nav>
