<%= title_and_banner @brand.name %>
<%= render 'nav', brand: @brand %>

<%= content_tag_for :div, @brand do %>
  <p class='by-brewery'>by <span class='brewery'><%= link_to @brand.brewery_name, @brand.brewery %></span></p>
  <section class='beer-styles'>
    <h2>Styles</h2>
    <ul><% @brand.beer_styles.each do |style| %>
      <li><%= link_to style.label, beer_style_url(style) %></li>
    <% end %></ul>
  </section>
  <p><strong>Average Price</strong> <%= number_to_currency @brand.average_price('floz') %> per ounce</p>
  <h4>Average by Route</h4>
    <ul>
      <% @brand.routes.uniq.sort.each do |route| %>
        <li><strong><%= route.name %></strong> <%= number_to_currency @brand.average_price(route: route) %> / oz (<%= pluralize @brand.data_point_count(route: route), 'data point' %>)</li>
      <% end %>
    </ul>
  <h4>Average by Retailer</h4>
    <ul>
      <% @brand.retailers.uniq.sort.each do |retailer| %>
        <li><strong><%= retailer.name %></strong> <%= number_to_currency @brand.average_price(retailer: retailer) %> / oz (<%= pluralize @brand.data_point_count(retailer: retailer), 'data point' %>)</li>
      <% end %>
    </ul>

<% end %>
